<div  style="min-height: 900px;display: flex;flex-direction: column;" >
  
  
  <div style="display: flex; flex-direction: row;border-top: 1px solid black;height: 100%;">
    <!-- ///////////////////////////left part ///////////////////////////////////////// -->
    <div
      style="
        border-right: 1px solid black;
        width: 40%;
        min-height: 1080px;
        background-color: rgba(182, 221, 230, 0.669);
        padding-top: 0.5em;
      "
      
      >
     <div style="display: flex;flex-direction: row; justify-content: space-around;">
        <form>
        <div
        class="flex rounded-md shadow-sm mb-3"
        [formGroup]="searchClients"
        
        >
        <button
          type="button"
          class="inline-flex flex-shrink-0 justify-center items-center h-[2.875rem] w-[2.875rem] rounded-l-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
        <input
          formControlName="searchInput"
          placeholder="search clients"
          type="text"
          id="hs-leading-button-add-on-with-icon"
          name="hs-leading-button-add-on-with-icon"
          class="py-3 px-4 block border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-white"
        />
      </div>
  
      </form>
      <form >
        <div
        class="flex rounded-md shadow-sm ml-1"
        [formGroup]="searchProducts"
        
      >
        <button
          type="button"
          class="inline-flex flex-shrink-0 justify-center items-center h-[2.875rem] w-[2.875rem] rounded-l-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
        <input
          formControlName="searchInput"
          placeholder="search Products"
          type="text"
          id="hs-leading-button-add-on-with-icon"
          name="hs-leading-button-add-on-with-icon"
          class="py-3 px-4 block border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-white"
        />
      </div>
      </form>
      
      
    </div>
   
      
      
      <table class="divide-y min-w-full" *ngIf="searchingClients">
        <tbody >
          <tr *ngFor="let user of searchClientsResult" class="bg-slate-400">
            <td>ID: {{ user.id }}</td>
            <td>Name: {{ user.first_name + " " + user.last_name }}</td>
            <td>Address: {{ user.address }}</td>
            <td class="py-1">
              <button
                (click)="addClient(user)"
                type="button"
                class="py-2 mr-2 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                Add
              </button>
            </td>
          </tr>
          <tr *ngIf="this.searchClients.get('searchInput')?.value" class="bg-slate-500">
            <td></td>
            <td colspan="2" class="text-center"><button (click)="addNewClientRedirect()" class="px-2 py-1 mr-5  rounded-md border border-transparent font-semibold bg-indigo-500 text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                      Add Client +  </button></td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
      <table class=" min-w-full" *ngIf="searchingProducts">
        <tbody  >
          <tr *ngFor="let product of searchProdutsResult" class="bg-slate-400">
            <td>Name: {{ product.name }}</td>
            <td>Stock: {{ product.stock }}</td>
            <td >Quantity:<input class="input-invalid" type="number" min="1" max="{{product.stock}}" #quantity /></td>
  
            <td class="py-1">
              <button
                (click)="addProduct(product, quantity.value)"
                type="button"
                class="py-2 mr-2 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                Add
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- ///////// right part ////////////////////////////////// -->
    <div style="width: 60%;padding-top: 0.5em;">
      <div
        class="bg-blue-300 text-white px-3 py-3 "
        style="text-align: center"
        *ngIf="selectedClient"
      >
        <p>Client Details</p>
      </div>
      <table class="divide-y min-w-full" *ngIf="selectedClient">
        <tbody class="bg-slate-400">
          <td>ID: {{ selectedClient.id }}</td>
          <td>
            Name:
            {{ selectedClient.first_name + " " + selectedClient.last_name }}
          </td>
          <td>Address: {{ selectedClient.address }}</td>
          <td>Phone: {{selectedClient.phone}}</td>
          <td class="py-1">
            <button
              (click)="removeSelectedClient()"
              type="button"
              class="py-2  px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
            >
              Remove
            </button>
          </td>
        </tbody>
      </table>
      <div
        class="bg-blue-300 text-white px-3 py-3 mt-1"
        style="text-align: center"
        *ngIf="selectedProducts.controls[0]"
      >
        <p>Orders</p>
      </div>
      <form [formGroup]="salesForm">
        <table
        class="min-w-full "
        *ngIf="selectedProducts.controls[0]"
      >
        
        <tbody class="bg-slate-400" formArrayName="products">
          <tr *ngFor="let product of selectedProducts.controls;let i = index;" [formGroupName]="i" >
            <td>ID: {{ product.value.id }}{{product.value.stock}}</td>
            <td>{{ product.value.name }}</td>
            <td >QTY: 
              <input [ngClass]="{'border border-2 border-red-400':product.value.quantity > 1}" class=" rounded-lg" formControlName="quantity" type="number" />
            </td>
            <td>Sub Total: {{ (product.value.price*product.value.quantity) | currency }}</td>
            <td class="py-1">
              <button
                (click)="removeSelectedProducts(product?.value.id)"
                type="button"
                class="py-2 mr-2 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                Remove
              </button>
            </td>
            
          </tr>
          <tr>
            <td colspan="2">Total Products: {{selectedProducts.controls.length}}</td>
            <td>Total Items: {{getTotalOrderQuantity()}}</td>
            <td>Total: {{getTotalOrderPrice() | currency}}</td>
            <td><button
              (click)="confirmSale()"
              type="button"
              class="py-2 mr-2 mt-1 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-green-600 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
            >
              Confirm
            </button></td>
          </tr>
        </tbody>
      </table>
      </form>
      
      
    </div>
  </div>
</div>
