/* You can add global styles to this file, and also import other style files */

// src/styles.scss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.activePage{
    background-color: rgb(172, 179, 185);
    padding-left: 45px;
}
.activeSales{
    border-bottom: 4px solid blue;
}


@layer components{
    .dashboard-input {
        @apply py-3 px-4 block  border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400
    }
}
