<div style="overflow-x: scroll;" >
        <div class="grid grid-cols-3 gap-4 m-4">
                <div class="w-full h-[12rem] rounded-2xl border bg-gray-100 bg-opacity-75 p-2">
                        <a routerLink="../sales/quick-sales" class="px-1 py-1 bg-yellow-300 rounded">Quick Sales</a>
                </div>
                <div class="w-full h-[12rem] rounded-2xl border bg-gray-100 bg-opacity-75"></div>
                <div class="w-full h-[12rem] rounded-2xl border bg-gray-100 bg-opacity-75"></div>
        </div>

        <div class="flex flex-row flex-wrap" *ngIf="quickSales">
                <div *ngFor="let sale of quickSales" class="px-2 py-2 h-[12rem] w-[24rem] m-2 rounded-2xl border bg-blue-300 bg-opacity-90">

                        <div class="flex flex-row justify-between bg-blue-500 p-2 rounded">
                          <h2 class="text-white">{{sale.name}}</h2>
                          <button (click)="goToQuickSale(sale.id)" class="bg-gray-100 px-2 py-1 mr-2 rounded">add</button>
                        </div>
                        
                        <div class="flex " style="flex-direction: column;">
                                <table>
                                        <!-- <thead>
                                                <tr class="flex flex-row justify-around">
                                                        <th>Name</th><th>Price</th>
                                                </tr>
                                        </thead> -->
                                        <tbody>
                                                <tr *ngFor="let product of sale.products" class="flex flex-row justify-around ">
                                                        <td>{{product.name}}</td><td>{{product.price}}</td>
                                                        <hr>
                
                                                </tr>
                                        </tbody>
                                </table>
                        </div>

                </div>

        </div>

</div>
